<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Team Randomizer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <style media="screen">
      #fedora{
        width: 50px;
        height: 50px;
        background: white;
        transition: width 2s, height 1s, transform 2s;
      }
      #fedora:hover {
        width: 50px;
        height: 50px;
        transform: rotate(1080deg);
      }

    </style>
  </head>
  <body>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Super Randomizer</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/results">Results</a></li>
          <%# <li><a href="#">Page 3</a></li>%>
        </ul>
      </div>
    </nav>
